.header-style a {
    text-decoration: none;
    padding: 20px;
    margin: 20px;
    font-size: 20px;

}

.header-style {
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
}